
<h4>Test Quick List</h4>

<div ng-repeat="(key, item) in livingItems">
	<input class="form-control" type="text" ng-model="item"
		ng-click="$parent.selectedLivingItemIndex = key; $parent.myFilter = item; $parent.showQuickList = true; log(key);" 
		ng-change="$parent.myFilter = item;" />
</div>

<div ng-show="showQuickList" class="footer navbar-fixed-bottom panel panel-default" 
	style="max-height: 40%; overflow-y: scroll;">
	<div my-quick-list items="myItems" filter="myFilter" 
		item-picked="log(selectedLivingItemIndex); livingItems[selectedLivingItemIndex] = item; myFilter = item; showQuickList = false;"/>
</div>