<div class="navbar navbar-fixed-top navbar-inverse well-sm">
	<div class="col-xs-1" >
		<a href="#/view1" style="text-decoration:underline; color: lightgrey;">Back</a>
	</div>
	<div class="center col-xs-10">
		Create a New Log
	</div>
</div>
<div style="width: 90%; padding-bottom: 40%">
	<form name="form" ng-submit="add()" novalidate>
		<div class="form-group row">
			<label class="col-sm-2 form-control-label">Date</label>
			<div class="col-sm-10">
				<input class="form-control" ng-model="date" name="date" placeholder="Enter date" ng-value="{{today}}" required=""/>
				<div class="error" ng-show="form.$submitted || form.date.$touched">
					<span ng-show="form.date.$error.required">Please add a date.</span>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 form-control-label">Additional Notes</label>
			<div class="col-sm-10">
				<input class="form-control" ng-model="description" name="description" placeholder="Enter additional notes" required=""/>
				<div class="error" ng-show="form.$submitted || form.description.$touched">
					<span ng-show="form.description.$error.required">Please add a description.</span>
				</div>
			</div>
		</div>
		<style>
			.input-group {
				margin-bottom: 5px;
			}
		</style>
		<div class="form-inline well well-sm" ng-repeat="(key, exercise) in exercises track by $index">
			<h4><small>Exercise {{$index + 1}}</small></h4>
			<div class="input-group col-xs-12">
				<span class="input-group-addon">Name</span>
				<input class="form-control" ng-model="exercise.name" ng-click="exerciseNameClicked(key)" placeholder="Choose an exercise" ng-change="exerciseNameChanged(exercise.name)"/>
			</div>
			<div class="input-group">
				<span class="input-group-addon">Sets</span>
				<input class="form-control" ng-model="exercise.sets" placeholder="Sets"/>
				<span class="input-group-addon">Reps</span>
				<input class="form-control" ng-model="exercise.reps" placeholder="Reps"/>
			</div>
			<div class="well well-sm" ng-show="exercise.sets > 0">
				<div class="input-group" ng-repeat="i in getNumber(exercise.sets)">
					<span class="input-group-addon"><small>Set {{i}}</small></span>
					<span class="input-group-addon"><small>Reps Complete</small></span>
					<input class="form-control" value="{{exercise.reps}}" />
					<span class="input-group-addon"><small>@</small></span>
					<input class="form-control" />
				</div>
			</div>
		</div>
		<span class="clickable clickable-text" ng-click="addExercise();">+ Add Exercise</span>
		<div class="navbar navbar-fixed-bottom" style="padding-left: 20px; padding-right:20px;">
			<input type="submit" value="Submit" class="btn btn-primary col-xs-12 col-md-offset-3 col-md-6 col-xl-offset-4 col-xl-4"/>
			</input>
		</div>
	</form>
</div>

<style>
	.footer {
		margin-bottom: 0px;
	}
</style>

<div ng-show="showExerciseQuicklist" class="footer navbar-fixed-bottom panel panel-default" style="max-height: 40%; overflow-y: scroll;">
	<div my-quick-list items="exerciseList" filter="exerciseListFilter" item-picked="console.log(item); exercisePicked(item)" close-pressed="closeExerciseQuicklist()"></div>
</div>